@import "/styles/reset.css";
*{
    margin: 0;
}
.nav-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: black;
    margin-right: 457px;
}
.nav-ul:hover{
    color: white;
}
.nav-ul{
    background-color: #012D63;
    height: 50px
}
.img0{
    margin-left: 90px;
}
a{
    color: rgb(172, 167, 167);
    cursor: pointer;
}
a:hover{
    color: white;
}
.main{
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 850px;
}
.h1{
    margin-left: 150px;
    color: white;
    font-size: 144px;
    font-weight: 400;
}
.h12{
    margin-left: 165px;
    color: white;
    font-size: 72px;
    font-weight: 400;
}
.img{
    margin-left: 170px;
    margin-top: 108px;
   height: 70px;
   width: 115px;
}
.img2{
    margin-left: 185px;
    height: 25px;
}
.text{
    color: white;
    margin-left: 170px;
}
.btn{
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #8E32C6;
    color: white;
    cursor: pointer;
    margin-left: 170px;
}
.benefits{
    background-image: url(/images/background.2.0.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1230px;
    padding: 165px 105px;
}
.images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid #8E32C6;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.images-wraper2{
    padding-left: 95px;
    padding-right: 95px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.Reviews{
    background: url(/images/background.3.0.png) no-repeat center/cover;
    height: 520px;
    width: 1440px;

}
.title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.review-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 6px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 70px;
}
.review-profile img{
    width: 31px;
    height: 31px;
}
.reviews-img1{
    width: 230px;
    height: 370px;
    position: absolute;
    top: 1795px;
}
.review-container{
    display: flex;
    justify-content: center;
    column-gap: 100px;
}
.review{
    padding: 20px;
    background-color: pink;
    border-radius: 8px;
    width: 170px;
    height: 200px;
    bottom: 479px;
    color: white;
    margin-top: 40px;
}
.review:nth-child(1){
    box-shadow: 0 10px 0 -13px #533978, 0 14px 0 -5px #7b54b2;
    background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
}
.review:nth-child(2){
    box-shadow: 0 10px 0 -13px #61337c, 0 14px 0 -5px #9159b1;
    background: linear-gradient(135deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
}
.review:nth-child(3){
    box-shadow: 0 10px 0 -13px #732f26, 0 14px 0 -5px #b95a4c;
    background: linear-gradient(135deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
}
.Order{
    background-image: url(/images/background.4.0.png);
    background-repeat: no-repeat;
}
.title2{
margin-left: 720px;
color: white;
font-family: var(--second-family);
font-weight: 400;
font-size: 48px;
color: white;
}
.order-input{
    margin-left: 490px;
    
}
.order-btn{
    margin-left: 670px;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #8E32C6;
    color: white;
    cursor: pointer;
}
input{
    height: 40px;
    width: 540px;
    border-radius: 50px;
}
.inpt1{
    height: 40px;
    margin-left: 20px;
}
.inpt2{
    width: 580px;
    
}
.footer{
    background-color: #021635;
    width: 1440px;
}
p{
    color: white;
}
.p1{
    margin-left: 165px;
    padding-top: 10px;
}
.p2{
    margin-left: 940px;
    padding-bottom: 10px;  
}
.p3{
    margin-left: 165px;
}
.i1{
    width: 100px;
    margin-left: 980px;
    
}
.i2{
    height: 20px;
    margin-left: 1000px;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    margin-right: 290px;
    margin-left: 165px;
    border-bottom: 1px solid #9b9b9b;
    padding-bottom: 20px;
    padding-top: 30px;
}  
